<a href='#content' class='skip-to-main'>Skip to main content</a>
<header>
    <a href='https://hermionewy.github.io' target='_blank' class='logo'>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="700" height="92" viewBox="1.5 0 700 92">
            <defs>
                <style>
                    .cls-1, .cls-2 {
                        font-size: 100px;
                    }

                    .cls-2 {
                        fill: #020202;
                        font-family: "GillSansMT-Italic";
                        font-style: italic;
                    }
                </style>
            </defs>
            <text y="69" class="cls-1"><tspan class="cls-2">The Coding Yan</tspan></text>
        </svg>
    </a>
</header>
